@font-face {
  font-family: "PP-Radio-Grotesk-Bold";
  src: url("fonts/RadioGrotesk_Bold.woff2") format("woff2"),
    url("fonts/RadioGrotesk_Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "PP-Mondwest";
  src: url("fonts/PPMondwest-Regular.woff") format("woff2"),
    url("fonts/PPMondwest-Regular.woff2") format("woff");
}
@font-face {
  font-family: "PP-Mondwest-Bold";
  src: url("fonts/PPMondwest-Bold.woff") format("woff2"),
    url("fonts/PPMondwest-Bold.woff2") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "PP-NeueMontreal-Regular";
  src: url("fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("fonts/NeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "PP-NeueMontreal-Bold";
  src: url("fonts/NeueMontreal-Bold.woff") format("woff2"),
    url("fonts/NeueMontreal-Bold.woff2") format("woff");
  font-weight: bold;
}
.NavLogo {
  display: inline-block;
  position: right;
  width: calc(20px + 4vh);
  padding: 0px 10px;
  padding-top: 5vh;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: center;
  transform: translate(0px, 1.5vh);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.NavLogo:hover {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.darkSwitch {
  display: none;
}
.lightSwitch {
  display: none;
}

.showButton {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}
.hideButton {
  display: hidden;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}

.showButtonEssay {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 5vh;
}
.hideButtonEssay {
  display: hidden;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 5vh;
}

.showButtonEmbedded {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}
.hideButtonEmbedded {
  display: hidden;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}

.showButtonResults {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}
.hideButtonResults {
  display: hidden;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}

.showButtonPaper {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}
.hideButtonPaper {
  display: hidden;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 3vh;
}
.showButtonPDF {
  display: inline-block;

  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: center;

  font-size: calc(6px + 2vw);
  margin-bottom: 5vh;
}

.aboutlistItems {
  text-align: left;
  font-family: PP-Mondwest-Bold;

  font-size: calc(6px + 2vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin: 0;
  padding-top: 0;
  line-height: auto;
  display: inline-block;
}
.aboutlistItemsSmall {
  text-align: left;
  font-family: PP-Mondwest-Bold;

  font-size: calc(8px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin: 0;
  padding-top: 0;
  line-height: auto;
}
.aboutlistItems_Button {
  text-align: left;
  font-family: PP-Mondwest-Bold;

  font-size: calc(6px + 2vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: auto;
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a1a1a;
  }
  .themeColorTittles {
    color: #7d5bb2;
  }
  .blackOut {
    background-color: white;
    color: #1a1a1a;
  }
  .themeColorBodyText,
  p,
  .showButton {
    color: #ffffff;
  }
  .navlist {
    color: rgb(255, 255, 255);
  }
  .navlist:hover {
    color: #d89c6a;
  }
  .navIcons {
    color: #d89c6a;
  }
  .navIcons:hover {
    color: #d89c6a;
  }
  .darkSwitch {
    display: inline-block;
  }
  .lightSwitch {
    display: none;
  }
  .navTilda {
    color: rgb(245, 245, 245);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .navLinks {
    color: rgb(245, 245, 245);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .navLinks:hover {
    color: #9b6cd8;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  h2 {
    color: rgb(150, 150, 150);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .linkToWorkH2:hover h2 {
    color: #7d5bb2;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  h3 {
    color: rgb(200, 200, 200);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .linkToWorkH2:hover h3 {
    color: #9b6cd8;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .gentileSubtitle {
    color: #9b6cd8;
  }
  .gentileSubtitleSmall {
    color: #9b6cd8;
  }

  .showButton {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButton:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButton {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButton:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .aboutlistItems_Button {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .aboutlistItems_Button:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonEssay {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonEssay:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEssay {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEssay:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonEmbedded {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonEmbedded:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEmbedded {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEmbedded:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonResults {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonResults:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonResults {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonResults:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonPaper {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonPaper:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonPaper {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonPaper:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #7d5bb2;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonPDF {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonPDF:hover {
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
  .themeColorTittles {
    color: #f2f2f2;
  }
  .blackOut {
    background-color: #1a1a1a;
    color: white;
  }
  .themeColorBodyText,
  p,
  .showButton {
    color: #000000;
  }
  .navlist {
    color: rgb(0, 0, 0);
  }
  .navlist:hover {
    color: #d89c6a;
  }
  .navIcons {
    color: rgb(0, 0, 0);
  }
  .navIcons:hover {
    color: #d89c6a;
  }
  .darkSwitch {
    display: none;
  }
  .lightSwitch {
    display: inline-block;
  }
  .navTilda {
    color: rgb(0, 0, 0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .navLinks {
    color: rgb(0, 0, 0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .navLinks:hover {
    color: #1cd096;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  h2 {
    color: rgb(100, 100, 100);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .linkToWorkH2:hover h2 {
    color: #1cd096;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  h3 {
    color: rgb(150, 150, 150);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .linkToWorkH2:hover h3 {
    color: #2af499;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .gentileSubtitle {
    color: #1cd096;
  }
  .gentileSubtitleSmall {
    color: #1cd096;
  }

  .showButton {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButton:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButton {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButton:hover {
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .aboutlistItems_Button {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .aboutlistItems_Button:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonEssay {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonEssay:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEssay {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEssay:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonEmbedded {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonEmbedded:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEmbedded {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonEmbedded:hover {
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonResults {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonResults:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonResults {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonResults:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .showButtonPaper {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonPaper:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonPaper {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hideButtonPaper:hover {
    color: #000000;
    border: 1px solid transparent;
    background-color: #1cd096;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonPDF {
    color: #000000;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .showButtonPDF:hover {
    color: #1cd096;
    border: 1px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

html {
  height: 100%;
}
#nav ul li {
  display: inline-block;
}
#nav a {
  text-decoration: none;
}
#webLinks ul li {
  display: inline-block;
}
#webLinks a {
  text-decoration: none;
}
#PleaseWorkMate ul li {
  display: inline-block;
}
#PleaseWorkMate a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navLinks {
  padding: 5px 0px;
  text-align: right;
  font-family: "PP-Mondwest-Bold";
  font-size: calc(20px + 1vh);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.navTilda {
  position: inline;
  width: auto;
  height: auto;
  padding: 5px 0px;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: right;
  font-family: "PP-Mondwest";
  font-size: calc(18px + 1vh);
  font-weight: 700;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.navTilda:hover {
  background-color: #transparent;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.breathe {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.heroText {
  padding-right: 1vw;
  padding-width: 1vw;

  font-size: calc(3vh);

  font-family: "Rubik";
  font-weight: 700;
}
.heroTextWork {
  padding-top: 5vh;
  padding-right: 1vw;
  padding-width: 1vw;

  font-size: calc(20px + 3vh);

  font-family: "Rubik";
  font-weight: 700;
}
.heroTextWorkSubTitle {
  padding-right: 1vw;
  padding-width: 1vw;
  padding-bottom: 5vh;

  font-size: calc(10px + 3vh);

  font-family: "Rubik";
  font-weight: 700;
}

.linkToWork {
  text-align: left;
  color: rgb(100, 100, 100);

  font-family: "PP-Radio-Grotesk-Bold";
  font-weight: bold;
}

h2 {
  text-align: left;

  font-size: calc(14px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin-top: 20px;
  margin-bottom: 1px;

  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
h3 {
  text-align: left;

  font-size: calc(10px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.04em;

  margin-top: 1px;
  margin-bottom: 20px;

  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.gentileSubtitle {
  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: left;

  font-size: calc(12px + 5vh);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin-top: 1px;
  margin-bottom: 20px;
}

.gentileSubtitleSmall {
  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: left;

  font-size: calc(12px + 3vh);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin-top: 1px;
  margin-bottom: 20px;
}
.copyRightFooter {
  font-family: "PP-Mondwest-bold";
  font-weight: bold;
  text-align: right;

  font-size: calc(1vh);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin-top: 3vh;
  margin-bottom: 5vh;
}

.bodyContent {
  text-align: left;
  font-family: PP-NeueMontreal-Regular;

  font-size: calc(12px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;
}
.bodyContentSmall {
  text-align: left;

  font-size: calc(8px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;
}
.littlePadding {
  padding-bottom: 5vh;
}

.educationContent {
  text-align: left;
  font-family: PP-Mondwest-Bold;

  font-size: calc(6px + 2vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin: 0;
  padding-top: 0;
  line-height: auto;
}
.educationContentSmall {
  text-align: left;
  font-family: PP-Mondwest-Bold;

  font-size: calc(8px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;

  margin: 0;
  padding-top: 0;
  line-height: auto;
}

.contentGrid5x {
  display: inline-block;
  position: right;
  width: 100%;

  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;

  font-family: "PP-Radio-Grotesk-Bold";
  font-weight: bold;
  font-size: 12px;
  font-kerning: auto;
  letter-spacing: 0.04em;
}
.contentGridWork {
  display: block;
  position: left;
  width: 25vw;

  -webkit-transition: all ease 2s;
  transition: all ease 2s;

  font-family: "PP-Radio-Grotesk-Bold";
  font-weight: bold;
  font-size: 12px;
  font-kerning: auto;
  letter-spacing: 0.04em;

  border-radius: 10px;
  margin-bottom: 1vh;
}

.heroContent {
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 2vh;

  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.referenceContent {
  text-align: left;

  font-family: "PP-Radio-Grotesk-Bold";
  font-weight: bold;
  font-kerning: auto;
  letter-spacing: 0.04em;

  font-size: calc(8px + 0.5vw);
  font-kerning: auto;
  letter-spacing: 0.02em;
}
#artWorkImages {
  display: none;
}
#fullEssayText {
  display: none;
}
#hideButtonEssay {
  display: none;
}
.blankSpace {
  padding-bottom: 25vh;
}

#modellingIFrame {
  display: none;
}
#resultGraphsContainer {
  display: none;
}
#paperTextPageContainer {
  display: none;
}

.workListItem {
  padding: 10px;
  margin: 6px;
}

.topMargin {
  color: transparent;
  padding: 10px;
}

.rightHandMargin {
  color: transparent;
  padding-top: 10vh;
}

.blackOut {
  padding-left: 20px;
  padding-right: 20px;
}

.Radiosub {
  height: auto;
  margin-top: 80px;
  text-align: left;
  font-family: "PP-Radio-Grotesk-Bold";
  font-weight: bold;
  font-kerning: normal;
  letter-spacing: 0.02em;
}

.sizeKink {
  font-size: 64px;
}

.small {
  font-size: calc(8px + 0.8vw);
}
.smallerMedium {
  font-size: calc(8px + 1.2vw);
}
.medium {
  font-size: calc(8px + 2vw);
}

.large {
  font-size: calc(24px + 2.5vw);
}

.rubiktitle {
  height: auto;
  margin-top: 80px;
  text-align: left;
  font-family: "Rubik";
  font-weight: 700;
}
.rubiksub {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Rubik";
  font-weight: 800;
}
.rubikSubLinked {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Rubik";
  font-weight: 800;
}
.poppinsBody {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Poppins", Regular;
  font-weight: 500;
}
.SpaceBody {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}
.SpaceLink {
  height: auto;
  margin-top: auto;
  text-align: left;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}
.navIcons {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 1vh;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: left;
  text-decoration: none;
  font-size: calc(12px + 1vw);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  padding: 5px 5px;
}
.navIcons:hover {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.heroImage {
  position: center;
  width: 50vw;
  max-width: 100%;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 5vh;
  box-shadow: -2px -2px 9px -7px transparent;
  transform: translate(9vw, 0);
}

.navImage {
  position: center;
  width: auto;
  max-width: 100%;
  height: 20vw;
  padding: 50vh 10px;
  box-shadow: -2px -2px 9px -7px transparent;
  text-align: center;
  transform: translate(20vw, 10px);
}
.navImage:hover {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.copyRightFooterImg {
  display: inline;
  width: 2vw;
  height: auto;
}

.bitShifheroTexttFont {
  font-family: PP-Mondwest-Bold;
  font-style: normal;
  font-kerning: none;
  letter-spacing: auto;
}
.iWantGreen {
  color: #40ad48;
}
